<div class="comment-form">
<%= form_for @comment do |f| %>
  <p>
    <%= f.text_area :content %>
    <%= f.hidden_field :trail_id, :value => params[:trail_id] %>
  </p>
  <p>
    <%= f.submit 'Share' %>
  </p>
<% end %>
</div>