<div class="trail-header">
  <ul>
    <li class="sort"><%= link_to 'Trending', '#' %> // <%= link_to 'Newest', '#' %></li>
    <li class="trail-name"><%= @user.name %>'s Contributions</li>
    <li class="post-comment">Something Else</li>
  </ul>
</div>

