<div class='about'>
<h4>Hi there!</h4>

<p>The purpose of this app is to connect skiers and snowboarders by crowdsourcing mountain conditions. Users are able to leave short notes about various trails, and upvote comments.</p>

<p>For an optimal experience, please use mobile devices to interact with the application.</p>

<p>Your feedback is greatly appreciated! Feel free to reach out, and stay tuned for future improvements!</p>

<br>
<p>- <%= mail_to "zachschatz@gmail.com", "The Mountain Chat Team", :style => 'text-decoration: underline'%></p>
</div>