<div>
  <h2>List of Trails</h2>
</div>

<% @trails.each do |trail| %>
  <div>
    <h3><%= link_to trail.name, trail_path(trail) %></h3>
  </div>
<% end %>

<div class="go-back">
  <h4><%= link_to '&larr; Mountain List'.html_safe, root_path %></h4>
</div>