<div>
<h2><%= @trail.name %></h2>
</div>

<%= link_to 'Chat', new_trail_comment_path(@trail) %>

<% @comments.each do |comment| %>
  <div class="comment-container">
    <ul>
      <p class="comment"><li><%= comment.content%></li></p>
      <p class="by-lin"><li>Posted by: <%= comment.user.name %></li></p>
    </ul>
  </div>
<% end %>