html, body{
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

nav{
  background-color: #F0F9FD;
  font-size: 1em;
  color: #8aacb8;
  width: 100%;
  height: 10%;
  top: 0;
  position: fixed;
  padding-bottom: 2em;
}

nav ul {
  width: 100%;
  padding: 0;
  padding-top: 1em;
}

nav ul li {
  list-style: none;
  padding-right: 1em;
  display: inline;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  bottom: 10%;
  background-color: #7ED2F3;
  overflow: scroll;
  color: #fff;
}


ul li {
  list-style: none;
  padding-right: 1em;
  display: inline;
}

.comment-container {
  width: 100%;
  border-top: 1px dotted #8aacb8;
}

.comment-container ul {
  text-align: left;
  width: 50%;
  height: 100%;
  margin: auto;
}

.comment {
  font-size: 1.2em;
  margin: 0;
}

.vote-container{
  width: 20%;
  float: left;
  padding-top: 1.5em;
  vertical-align: middle;
}

.snowflake {
  width: 2em;
  height: 2em;
}

.info {
  width: 1em;
  height: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

.trail-header {
  width: 100%;
  height: 2em;
  font-size: 110%;
}
.trail-header ul {
    list-style-type: none;
    overflow: hidden;
}

.left {
  float: left;
  padding-left: 1em;
}

.trail-name {
  font-size: 120%;
}

.right{
  float: right;
  padding-right: 1em;
}

.profile-header {
  width: 100%;
  height: 2em;
  font-size: 110%;
  text-align: center;
}
.profile-header ul {
  list-style-type: none;
  overflow: hidden;
}

.right{
  float: right;
}

.comment-form {
  display: none;
}

textarea {
  width: 80%;
  height: 5em;
  border-color: #8aacb8;
}

input {
  background-color: #fff;
  width: 30%;
}

form div{
  padding-top: 1em;
}

.go-back{
  float: left;
  padding-left: 2em;
}

.about{
  padding: 1em;
}