html, body{
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

.top-nav{
  background-color: #F0F9FD;
  font-size: 1em;
  color: #8aacb8;
  width: 100%;
  height: 10%;
  top: 0;
  position: fixed;
  padding-bottom: 2em;
}

.bottom-banner{
  background-color: #F0F9FD;
  font-size: 1em;
  color: #8aacb8;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
}

.bottom-banner ul {
  width: 100%;
  padding: 0;
  padding-top: 1em;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  bottom: 10%;
  background-color: #7ED2F3;
  overflow: scroll;
  color: #fff;
}


ul li {
  list-style: none;
  padding-right: 1em;
  display: inline;
}

.comment-container {
  width: 100%;
  border-top: 1px solid black;
}

.comment-container ul {
  text-align: left;
  width: 50%;
  height: 100%;
  margin: auto;
}

.comment {
  font-size: 1.2em;
  margin: 0;
}

.vote-container{
  width: 20%;
  float: left;
  padding-top: 1.5em;
  vertical-align: middle;
}

.snowflake {
  width: 2em;
  height: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}